/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  display: inline-block;
  width: 200px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

form {
  max-width: 400px;
  margin: auto;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
/* استایل تصاویر */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

